# Telegram Bot Token (получить у @BotFather)
BOT_TOKEN=8774073974:AAHMaWVarZRZMq2kwycdkKzch5qkFSgbu7I

# Путь к SQLite базе данных
DB_PATH=data/fantasy.db

# Telegram ID администраторов (через запятую)
ADMIN_IDS=372136425

# ID группового чата (можно узнать через /admin_status)
GROUP_CHAT_ID=-5189639675

# F1 Data APIs
JOLPICA_BASE_URL=https://api.jolpi.ca/ergast/f1
OPENF1_BASE_URL=https://api.openf1.org/v1

# Текущий сезон
SEASON_YEAR=2026
